<%= form_for @comment_changeset, post_comment_path(@conn, :create, @post), fn f -> %>
  <%= label f, :body, class: "control-label" %>
  <%= text_input f, :body, class: "form-control" %>
  <%= error_tag f, :body %>
  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>